<?xml version="1.0"?>
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>

  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  <xacro:arg name="origin_xyz" default="0 0 0"/>
  <xacro:arg name="origin_rpy" default="0 0 0"/>
  <xacro:property name="link" value="0.1" /> <!-- Size of square 'camera' box -->
  <!-- Fix to world just for testing -->
  <link name="world"/>

  <!--iiwa-->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
  </xacro:iiwa7>


  <!--Gripper Link-->
  <link name="iiwa_gripper_link">
    <!--<collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${camera_link} ${camera_link} ${camera_link}"/>
      </geometry>
    </collision>-->
<!--     <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${link} ${link} ${link}"/>
      </geometry>
      <material name="red"/>
    </visual>
 -->
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
  <!--**********************************-->

  <joint name="iiwa_gripper_joint" type="revolute">
    <origin xyz="0 0 00.100001" rpy="0 -1.57 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="0" upper="0" velocity="0"/>
    <parent link="iiwa_link_7"/>
    <child link="iiwa_gripper_link"/>
  </joint>

  <!--**********************************-->
  <gazebo>
      <plugin name="gazebo_ros_vacuum_gripper" filename="libgazebo_ros_vacuum_gripper.so">
        <robotNamespace>/robot/left_vacuum_gripper</robotNamespace>
        <bodyName>iiwa_gripper_link</bodyName>
        <topicName>grasping</topicName>
        <maxForce>500</maxForce>
      </plugin>
    </gazebo>
<!--**********************************-->
</robot>
